<h1>愛犬一覧</h1>
<%= link_to '愛犬を登録', new_pet_path %>
<hr />
<div class = "col-md-3">
  <table>
    <thead>
      <tr>
        <th>愛犬</th>
        <th>年齢</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <% @pets.each do |pet| %>
            <td><%= link_to pet.name, pet %></td>
          <% end %>
          <td><%= @age %>歳</td>
        </tr>
    </tbody>
  </table>
</div>
<br>
