<div class="container">
<h1>愛犬一覧</h1>
<%= link_to '愛犬を登録', new_pet_path %>
<hr />
  <div class="row">
    <div class="col-3">
    <h5>愛犬一覧</h5>
    <hr />
    <% @pets.each do |pet| %>
      <% if pet.family.id == current_user.families.first.id %>
        <li><%= link_to pet.name, pet %></li><br>
      <% end %>
    <% end %>
  </div>
</div>

