<h1>愛犬一覧</h1>
<%= link_to '愛犬を登録', new_pet_path %>
<hr />
<div class = "col-md-3">
  <table>
    <tbody>
      <% @pets.each do |pet| %>
        <tr>
          <td><%= link_to pet.name, pet %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
