<p id="notice"><%= notice %></p>
<div class="container">
<h2><%= @family.name %>ファミリー一覧</h2>
<hr />
  <div class="row">
    <div class="col-3">
    <h5>所属者名</h5>
    <hr />
      <% @family.users.each do |user| %>
        <li><%= user.name %></li><br>
      <% end %>
    </div>
    <div class="col-3">
    <h5>所属ペット</h5>
    <hr />
      <% @family.pets.each do |pet| %>
        <li><%= pet.name %></li><br>
      <% end %>
    </div>
  </div>
</div>


